@font-face {
    font-family: "cinzel";
    src: url("fonts/cinzel/cinzel-regular.ttf");
}

@font-face {
    font-family: "cormorant";
    src: url("fonts/cormorant_garamond/cormorantgaramond-medium.ttf");
    /* h1+p font */
}

/* ==============================================================
                                                             HOME 
================================================================= */

body {
    /* deze styling telt voor elke pagina */
    background: linear-gradient(#B7D0E1, #E1D5CB);
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    animation: fadein 6s;
}


@keyframes fadein {

    /* deze animatie telt ook voor elke pagina als je erop komt */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header {
    overflow: hidden;
    position: relative;
    /* Dit zorgt ervoor dat ik de wolken kan plaatsen waar ik wil en dat het niet links-rechts scrollbaar is */
}


header section {
    display: flex;
    align-items: center;
    gap: 0.8em;
    padding: 0.7em 0.7em;
    /* Zorgt ervoor dat mijn logo naast de H1 komt te staan,dus geld ook voor alle paginas */
}

header section img {
    width: 5em;
    /* Dit geeft mijn logo een grootte en de juiste plek, dus ook voor alle paginas */
}

header section h1 {
    font-family: "cormorant";
    margin-top: 2.5em;
    font-size: 1.2em;
    color: #432918;
    width: 5em;
    /* Dit heeft mijn H1 een kleur/grootte/plek, dus ook voor alle paginas */
}

header h2 {
    font-family: "cinzel";
    position: absolute;
    color: #432918;
    right: 0.8em;
    top: 8em;
    font-size: 0.9em;
    /* de 'h2's' kleur en plek geven. Ook voor alle paginas */
}


header>img {
    /* bewegende wolkjes op de homepage */
    /* alle afb in de header */
    position: absolute;
}

.lijntjes {
    right: 0;
    top: 9em;
    /* De 2 lijntjes */
}

/* De komende 3 zijn de wolkjes */
.wolk1 {
    width: 4em;
    /* > is de direct child, zonder dat pakte hij de 1e img(logo) pakt */
    top: -1em;
    left: 5em;
    animation: bewegendewolken1 6s infinite;
    transition: 9s;
}

.wolk2 {
    width: 7em;
    top: -1em;
    right: -3em;
    animation: bewegendewolken2 10s infinite;
    transition: 4s;
}

.wolk3 {
    width: 11em;
    top: 3.3em;
    left: 6.5em;
    z-index: -1;
    animation: bewegendewolken3 25s infinite;
    transition: 2s;
}

.wolk4 {
    top: 8.15em;
    width: 3em;
    left: -2em;
    z-index: -1;
    animation: bewegendewolken4 15s infinite;
    transition: 2s;
}

@keyframes bewegendewolken1 {
    0% {
        transform: translateX(0%);
        opacity: 0.6;
    }

    50% {
        transform: translateX(30%);
        opacity: 0.8;
    }

    100% {
        transform: translateX(0%);
        opacity: 0.5;
    }
}

@keyframes bewegendewolken2 {
    0% {
        transform: translateX(0%);
        opacity: 0;
    }

    50% {
        transform: translateX(30%);
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
        opacity: 0;
    }
}

@keyframes bewegendewolken3 {
    0% {
        transform: translateX(5%);
        opacity: 0.9;
    }

    50% {
        transform: translateX(30%);
        opacity: 0.7;
    }

    100% {
        transform: translateX(5%);
        opacity: 0.9
    }
}

@keyframes bewegendewolken4 {
    0% {
        transform: translateX(15%);
        opacity: 0.5;
    }

    50% {
        transform: translateX(55%);
        opacity: 0.2;
    }

    100% {
        transform: translateX(15%);
        opacity: 0.5;
    }
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: .2em;
    text-decoration: none;
    color: #E1D5CB;
    padding: 0 0.5em;
}

nav ul li a img {
    width: 1.4em;
}

nav>img:nth-of-type(1) {
    position: absolute;
    width: 100%;
    bottom: -0.6em;
    z-index: -1;
    pointer-events: none;
    /* dit zorgt ervoor dat de afb niet klikbaar is */
}

nav>img:nth-of-type(2) {
    z-index: -2;
    position: absolute;
    width: 4em;
    bottom: -0.2em;
    left: -1.2em;
}

nav>img:nth-of-type(3) {
    z-index: -2;
    position: absolute;
    width: 4em;
    bottom: 0.8em;
    left: 13.5em;
}

nav>img:nth-of-type(4) {
    z-index: -2;
    position: absolute;
    width: 4em;
    bottom: -2em;
    right: -0.4em;
}

main h3 {
    /* de h3'tjes op alle paginas */
    color: #432918;
    font-family: "cinzel";
    text-align: center;
    font-size: 0.7em;
    /* margin-top: 2em; */
}

main p {
    /* de p'tjes op alle paginas */
    color: #432918;
    font-family: "cormorant";
    font-size: 15;
    text-align: center;
    width: 17em;
    margin: auto;
}

.home main a {
    color: #432918;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.4em;
}

.home main a:hover {
    text-decoration: underline;
}

.home main {
    margin-bottom: 4em;
    /* toegevoegd zodat de nav balk er goed uit ziet als je naar beneden scrollt */
}

/* ==============================================================
                                                        OVER ONS 
================================================================= */

.overons main {
    margin-bottom:9em;
}

.map {
    margin: 1em auto 2em;
    height: 10em;
    overflow: scroll;
    width: 90vw;
    border: #432918 .05em solid;
    border-radius: 1.5em;
}

.map img {
    width: 25em;
    display: block;
}


.overons main ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    align-items: center;
    margin: 0.6em;
    gap: 0.9em;
}

.overons main ul li p {
    text-align: left;
    text-decoration: none;
}



/* ==============================================================
                                                      COMPOSTEREN 
================================================================= */

.composteren main div p {
    width: 14em;
    text-align: left;
    padding-right: 0.7em;

}

.composteren main div h3 {
    text-align: left;
}

.composteren main>div {
    display: grid;
    align-items: center;
    gap: 0.5em;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2em;
}


.composteren main {
    margin-bottom: 9em;
}

.recycleanimatie {
    /* dit houdt de afb bij elkaar in de div */
    position: relative;
    margin: auto;
    width: 8em;
    height: 9em;
    margin-top: 3.5em;
}

.recycleanimatie img {
    position: absolute;
    animation: recycleanimatie 3s;
    animation-fill-mode: backwards;
}

.recycleanimatie img:nth-of-type(1) {
    animation-delay: 0.5s;
}

.recycleanimatie img:nth-of-type(2) {
    animation-delay: 1s;
}

.recycleanimatie img:nth-of-type(3) {
    animation-delay: 1.5s;
}


.recycleanimatie img:nth-of-type(4) {
    animation-delay: 2s;
}


.recycleanimatie img:nth-of-type(5) {
    animation-delay: 2.5s;
}


.recycleanimatie img:nth-of-type(6) {
    animation-delay: 3s;
}

@keyframes recycleanimatie {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;

    }
}


.composteren main section a {
    margin: 1em auto;
    width: 5em;
    text-align: center;
    display: block;
    color: #432918;
    text-decoration: none;
    border: solid 0.08em #432918;
    border-radius: 1.5em;
    padding: 0.2em .8em;
    transition: 0.4s;
}

.composteren main section a:hover {
    text-shadow: 0em 0em 1em #eaeaea;
    border: solid 0.07em #4329189c;
    box-shadow: 0em 0em 1em #43291877;
    background-color: #4329181b;
    transform: scale(1.02);
}


/* ==============================================================
                                                      RESERVEREN 
================================================================= */

.reserveren main {
    margin-bottom: 3em;
}

form {
    font-family: "cormorant";
    color: #432918;
    padding: 0 4em;
}

form img {
    pointer-events: none;
    /* gaat gewoon erdoor heen */
    width: 0.7em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .9em;
}

.selectfields {
    margin: 1em 0 1em;
    display: flex;
    gap: 1em;
}

.selectfields div {
    font-family: "cormorant";
    padding: 0.4em;
    position: relative;
    border-radius: 1.5em;
    border: 0.05em solid #432918;
}

.selectfields div:hover{
    text-shadow: 0em 0em 1em #eaeaea;
    border: solid 0.07em #4329189c;
    box-shadow: 0em 0em 1em #43291877;
    transform: scale(1.001);
}

input {
    font-family: "cormorant";
    margin: 0.4em 0 1em;
    display: block;
    padding: 0.5em;
    border: 0.05em solid #432918;
    background: none;
    border-radius: 1.5em;
    width: 100%;
    font-size: 0.9em;
    color: #432918;
}

select:focus{
    outline: none;
}

input:hover{
    text-shadow: 0em 0em 1em #eaeaea;
    border: solid 0.07em #4329189c;
    box-shadow: 0em 0em 1em #43291877;
    transform: scale(1.02);
}

select {
    font-size: 0.9em;
    width: 8em;
    border: none;
    padding: .5em;
    margin: auto;
    color: #432918;
    font-family: "cormorant";
    -webkit-appearance: none;
    background: none;
    /* https://stackoverflow.com/questions/23040305/how-to-apply-css-to-a-mac-chrome-select-box */
}

button {
    font-family: "cormorant";
    font-size: 1em;
    margin: 1em auto;
    width: 6em;
    text-align: center;
    display: block;
    color: #432918;
    background: none;
    text-decoration: none;
    border: solid 0.08em #432918;
    border-radius: 1.5em;
    padding: 0.2em .9em;
    transition: 0.4s;
}

button:hover{
    text-shadow: 0em 0em 1em #eaeaea;
    border: solid 0.07em #4329189c;
    box-shadow: 0em 0em 1em #43291877;
    background-color: #4329181b;
    transform: scale(1.02);
}