@font-face { 
    font-family: "cinzel";
    src: url("fonts/cinzel/cinzel-regular.ttf");
   
}

@font-face {
    font-family: "cormorant";
    src: url("fonts/cormorant_garamond/cormorantgaramond-medium.ttf");
     /* h1+p font */
}
/* ==============================================================
                                                             HOME 
================================================================= */

body{
    /* deze styling telt voor elke pagina */
    background: linear-gradient(#B7D0E1,#E1D5CB);
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    margin:0;
    animation: fadein 6s;
}

@keyframes fadein {
    /* deze animatie telt ook voor elke pagina als je erop komt */
    0% {opacity: 0;}
    100% {opacity: 1;}
    
}

.home header{
    overflow: hidden;
    position: relative;
    padding-bottom: 2em;
    /* Dit zorgt ervoor dat ik de wolken kan plaatsen waar ik wil en dat het niet links-rechts scrollbaar is */
}


header section{
    display: flex;
    align-items: center;
    gap: 0.8em;
    padding:0.7em 0.7em;
    /* Zorgt ervoor dat mijn logo naast de H1 komt te staan,dus geld ook voor alle paginas */
}

header section img{
    width: 5em;
    /* Dit geeft mijn logo een grootte en de juiste plek, dus ook voor alle paginas */
}

header section h1{

    font-family: "cormorant";
    margin-top: 2.5em;
    font-size: 1.2em;
    color: #432918;
    width: 5em;
    /* Dit heeft mijn H1 een kleur/grootte/plek, dus ook voor alle paginas */
}

header h2{
    font-family: "cinzel";
    position: absolute;
    color: #432918;
    right: 0.8em;
    top:8em;
    font-size: 0.9em;
    /* de 'h2's' kleur en plek geven. Ook voor alle paginas */
}


header>img{
    /* bewegende wolkjes op de homepage */
    /* alle afb in de header */
    position:absolute;
}

.lijntjes{
    right: 0;
    top:9em;
    /* De 2 lijntjes */
}

/* De komende 3 zijn de wolkjes */
.wolk1{
    width: 4em;
    /* > is de direct child, zonder dat pakte hij de 1e img(logo) pakt */
    top:-1em;
    left: 5em;
    animation: bewegendewolken1 5s infinite;
    transition: 9s;
}

.wolk2{
    width: 7em;
    top: -1em;
    right: -3em;
    animation: bewegendewolken2 10s infinite;
    transition: 4s;
}

.wolk3{
    width: 11em;
    top:3.3em;
    left: 6.5em;
    z-index: -1;
    animation: bewegendewolken3 25s infinite;
    transition: 2s;
}

.wolk4{
    width: 3em;
    left: -2em;
    z-index: -1;
    animation: bewegendewolken4 15s infinite;
    transition: 2s;
}


@keyframes bewegendewolken1 {
    0% { transform: translateX(0%); opacity: 1;}
    50% { transform: translateX(30%); opacity: 0.8;}
    100% { transform: translateX(0%); opacity: 0.5;}
}

@keyframes bewegendewolken2 {
    0% { transform: translateX(0%); opacity: 0;}
    50% { transform: translateX(30%); opacity: 1;}
    100% { transform: translateX(0%); opacity: 0;}
}

@keyframes bewegendewolken3 {
    0% { transform: translateX(5%); opacity: 0.9;}
    50% { transform: translateX(30%); opacity: 0.7;}
    100% { transform: translateX(5%); opacity: 0.9}
}

@keyframes bewegendewolken4 {
    0% { transform: translateX(15%); opacity: 0.5;}
    50% { transform: translateX(55%); opacity: 0.2;}
    100% { transform: translateX(15%);opacity: 0.5;}
}


nav {
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: .2em;
    text-decoration: none;
    color: #E1D5CB;
    padding: 0 0.5em;
}

nav ul li a img{
    width: 1.4em;
}

nav > img:nth-of-type(1) {
    position: absolute;
    width: 100%;
    bottom: -0.6em;
    z-index: -1;
    pointer-events: none;
    /* dit zorgt ervoor dat de afb niet klikbaar is */
}

nav > img:nth-of-type(2){
    z-index: -2;
    position: absolute;
    width: 4em;
    bottom: -0.2em;
    left: -1.2em;
}

nav > img:nth-of-type(3){
    z-index: -2;
    position: absolute;
    width: 4em;
    bottom: 0.8em;
    left: 13.5em;
}

nav > img:nth-of-type(4){
    z-index: -2;
    position: absolute;
    width: 4em;
    bottom: -2em;
    right: -0.4em;
}

main h3{
    /* de h3'tjes op alle paginas */
    color: #432918;
    font-family: "cinzel";
    text-align: center;
    font-size: 0.7em;
    /* margin-top: 2em; */
}

main p{
    /* de p'tjes op alle paginas */
    color: #432918;
    font-family: "cormorant";
    font-size: 14;
    text-align: center;
    width: 17em;
    margin: auto;
}

.home main a{
    color: #432918;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.4em;
}

.home main a:hover{
    text-decoration: underline;
}

.home main{
    margin-bottom: 2em;
     /* toegevoegd zodat de nav balk er goed uit ziet als je naar beneden scrollt */
}

/* ==============================================================
                                                        OVER ONS 
================================================================= */

.overons main{
    margin-bottom: 5em;
}

.map{
    margin: 0 auto 2em;
    height: 10em;
    overflow: scroll;
    width:90vw;
    border: #432918 .05em solid;
}

.map img{
    width: 25em;
    display: block;
}

.overons header{
    padding-bottom: 0em;
}


/* ==============================================================
                                                      COMPOSTEREN 
================================================================= */

.composteren main p{
    width: 17em;
}


.recycleanimatie{
    /* dit houdt de afb bij elkaar in de div */
    position: relative;
    margin: auto;
    width: 9em;
}

.recycleanimatie img{
    position: absolute;
    
}